apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: product-service-config
        - secretRef: 
            name: product-services-secret

